<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color = "dark">
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar (ionInput)="getClientes($event)"></ion-searchbar>
  <h2>Bem Vindo Fabrício</h2>
<ion-list>
    <ion-item *ngFor="let clientes of entireDatabase" (click)="itemTapped(clientes)" >
      <ion-icon item-right name="star"></ion-icon>
      <ion-icon item-right name="star"></ion-icon>
      <ion-icon item-right name="star"></ion-icon>
      <ion-icon item-right name="star"></ion-icon>
      <ion-avatar item-left>
      <img src={{clientes.img}}>
    </ion-avatar>
      <h2>{{clientes.name}}</h2>
    </ion-item>   
    </ion-list>
</ion-content>
