<!--
  Generated template for the Payment page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color = "dark">
    <ion-title>Payment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-buttons end>
      <button (click) = "goHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
<ion-fab middle center>
    <button ion-fab color="light"><ion-icon name="add"></ion-icon></button>
  <ion-fab-list side="left">
      <button ion-button round color="dark">Debito</button>
    
    </ion-fab-list>
    <ion-fab-list side="right">
      <button ion-button round color="dark">Credito</button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
