<!--
  Generated template for the Carrinho page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color = "dark">
    <ion-title>Carrinho</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-buttons end>
      <button (click) = "goHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
<ion-item-sliding *ngFor="let bebida of bebidas">
<ion-item *ngIf="bebida.active === true" >
  
    
      <button ion-button round default item-right color="dark" >
       <ion-icon ios="ios-remove-circle" md="md-remove-circle"></ion-icon>

      </button>
    
    <ion-avatar item-left>
      <img src={{bebida.img}}>
    </ion-avatar>
    
    <h2 >{{bebida.name}}</h2>  
    <h3 >{{bebida.price}}</h3>
  
  </ion-item>
</ion-item-sliding>

<ion-item-sliding *ngFor="let lanche of lanches">
<ion-item *ngIf="lanche.active === true" >
  
    
      <button ion-button round default item-right color="dark" >
       <ion-icon ios="ios-remove-circle" md="md-remove-circle"></ion-icon>

      </button>
    
    <ion-avatar item-left>
      <img src={{lanche.img}}>
    </ion-avatar>
    
    <h2 >{{lanche.name}}</h2>  
    <h3 >{{lanche.price}}</h3>
  
  </ion-item>
</ion-item-sliding>
  <ion-item >
    <h2>Total Price: 7,00</h2>
    <button (click)="itemTapped()" ion-button round default item-right icon-right color="dark">
  Pagar
  <ion-icon ios="ios-card" md="md-card"></ion-icon>
</button>
  </ion-item>
 
</ion-content>

