<!--
  Generated template for the Menu page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color = "dark">
    <ion-title>
      <ion-item color = "dark">
      <ion-avatar item-left>
      <img src={{clientes.img}}>

    </ion-avatar>
    <h2>{{clientes.name}} Menu </h2>
    
    </ion-item>
    
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-buttons end>
      <button (click) = "goHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

<ion-item-group >
  <ion-item-divider  color = "dark" >BEBIDAS</ion-item-divider>
  <ion-item *ngFor="let bebida of bebidas2">
    
      <button ion-button round default item-right color="dark" (click)="bebida.active == true"  >
        
       <ion-icon ios="ios-add-circle" md="md-add-circle" ></ion-icon>

      </button>
    
    <ion-avatar item-left>
      <img src={{bebida.img}}>
    </ion-avatar>
    <h2 >{{bebida.name}}</h2>  
    <h3 >{{bebida.price}}</h3>
  </ion-item>


  <ion-item-divider  color = "dark" >LANCHES</ion-item-divider>
  <ion-item *ngFor="let lanche of lanches">
    <button ion-button round default item-right color="dark" >
       <ion-icon ios="ios-add-circle" md="md-add-circle" ></ion-icon>

      </button>
    <ion-avatar item-left>
      <img src={{lanche.img}}>
    </ion-avatar>
    <h2>{{lanche.name}}</h2>  
    <h3>{{lanche.price}}</h3>
  </ion-item>


  <ion-item-divider  color = "dark" >DOCES</ion-item-divider>
  <ion-item *ngFor="let doce of doces">
    <button ion-button round default item-right color="dark" >
       <ion-icon ios="ios-add-circle" md="md-add-circle" ></ion-icon>

      </button>
    <ion-avatar item-left>
      <img src={{doce.img}}>
    </ion-avatar>
    <h2>{{doce.name}}</h2>  
    <h3>{{doce.price}}</h3>
  </ion-item>
</ion-item-group>
<ion-item>
    <button ion-button round default item-right icon-right color="dark" (click)="itemTapped(clientes)">
  Carrinho
  <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
</button>
    
  </ion-item>
</ion-content>
